.button:hover {
  box-shadow: 5px 5px 1px #ac3700, -5px -5px 1px #043681;
  cursor: pointer;
}

.rotate {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.rotate:hover {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
