@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
}

:root {
  --color-primary: #ed7138;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

#bg {
  width: 100vw;
  height: 100vh;
}

.summer {
  background: url(./assets/summer-bg.jpg) no-repeat center;
}

.autumn {
  background: url(./assets/autumn-bg.jpg) no-repeat center;
}

.winter {
  background: url(./assets/winter-bg.jpg) no-repeat center;
}

.out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerIn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  max-width: 600px;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  width: 180px;
  height: 180px;
  border: 2px solid white;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 60px;
}

#pageHeader {
  padding: 10px;
  color: var(--color-primary);
  font-size: 4em;
  text-shadow: 1px 1px 0 #fff;
}
#pageControl {
  /* background-color: blue; */
}
.summerIcon {
  background: url(./assets/icons/summer_icon.webp);
}
.autumnIcon {
  background: url(./assets/icons/autumn_icon.webp);
}
.winterIcon {
  background: url(./assets/icons/winter_icon.webp);
}
